<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abous Us</title>
    {% include 'partials/_fonts.html' %}
    <style>
        #main-body .inner{
            padding: 100px 350px 100px 400px;
        }
        .heading3 h3{
            font-weight: bold;
            font-size: 20px;
        }
        .paragraphs p{
            font-weight: 16px;
            font-weight: 450;
            line-height: 23px;
            text-align: justify;
        }
    </style>
</head>
<body>
    {% include 'partials/_header.html' %}
    <section id="main-body">
        <div class="inner">
            <div class="heading3"><h3>ABOUT US</h3></div><br><br>
            <div class="paragraphs">
                <p>The hyderabadtourism.in is a brainchild of young and enthusiastic entrepreneurs of rich business and professional background. Self-driven and well-motivated, the promoters are driven by keen passion and vision to project the growing importance and significance of the vibrant city of Hyderabad and its many splendour tourist attractions.</p><br>
                <p>Tourism in INDIA has come of age, client-oriented with a matured outlook. "INDIA EVERYWHERE" is the magic mantra floating in global circles. Metros like Hyderabad possess an abundance of tourist attractions of pristine beauty, unparalleled in depth and extravagant in appeal to floor people from all walks of life.</p><br>
                <p>Hyderabadtourism.in intends to capture that very appeal and captivation to offer rich quality-driven information that is in-depth and illuminating to let you navigate various sites and make your sojourn a memorable and pleasant experience. Everything you want to know and learn about HYDERABAD and its greatness is here WHY CHOOSE US Wealth of experience in Tourism business Managed by professional and client-oriented consultants Recommended by several satisfied tourist clients Excellent Associate base all over India and abroad.</p><br>
                <p>We look to form long term partnerships with participating players, carriers, NTO's and agents to expand the market and customer satisfaction for each partner. Our focus is Travel Selling to a global market. Your travel sojourn has already begun and continues even after you leave the shores of HYDERABAD……a sojourn of unmatchable brilliance. Wah! Hyderabad.</p>
            </div>
        </div>
    </section>
    {% include 'partials/_footer.html' %}

</body>
</html>