<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-Hyderabad</title>
    {% include 'partials/_fonts.html' %}

    <style>
        #hyderabad {
            display: flex;
            justify-content: center;

            .main-div {
                margin: 100px 350px 100px 400px;
            }
        }

        .heading3 h3 {
            font-weight: 600;
            font-size: 18px;
        }

        .heading4 h4 {
            font-weight: 550;
            font-size: 18px;
        }

        .paragraph p {
            font-weight: 500;
            font-size: 16px;
            text-align: justify;
        }
    </style>
</head>

<body>
    {% include 'partials/_header.html' %}
    <section id="hyderabad">
        <div class="main-div">
            <div class="heading3">
                <h3>ABOUT HYDERABAD</h3><br><br>
            </div>
            <div class="heading4">
                <h4>THE GEOGRAPHIC</h4><br>
            </div>
            <div class="paragraph">
                <p>HYDERABAD (5th Largest City of India), the capital city of Telangana State India). Population of more
                    than 10 million & Agglomerated area 727 sq. kms on the Deccan Plateau. Location: 17o E 22’ N
                    Latitude & 78 o 27’ Longitude</p><br>
            </div>
            <div class="heading4">
                <h4>THE HISTORY</h4>
            </div><br><br>
            <div class="paragraph">
                <p>Ruled by the Qutub Shahis, the city has a history of nearly 400 years. The capital Bhagyanagar was
                    named after a royal beloved Bhagyamati, who later as the wife of Quli Qutub Shah became Hyder Mahal
                    and thus was born Hyderabad.</p><br><br>
                <p>Hyderabad was founded on the banks of River Musi five miles east of Golconda, the capital of the
                    Qutub Shahi rulers in 1591-92 by Muhammad Quli Qutb Shah. The Qutb Shahi dynasty founded the Kingdom
                    of Golconda, one of the five kingdoms that emerged after the break-up of the Bahamani Kingdom. The
                    Qutb Shahis ruled the Deccan for almost 171 years. All the seven rulers were patrons of learning and
                    were great builders. They contributed to the growth and development of Indo-Persian and Indo-Islamic
                    literature and culture in Hyderabad.</p><br><br>
                <p>During the Qutb Shahi reign Golconda became one of the leading markets in the world of diamonds,
                    pearls, steel for arms and also printed fabric. The glory of the Golconda kingdom ended in 1687,
                    when Aurangzeb, the last great Mughal ruler, captured Golconda from Abul Hasan Tana Shah, the last
                    king of Golconda. With the conquest of the Deccan and the South, Aurangzeb succeeded in expanding
                    the Mughal Empire to cover the entire sub-continent. However, after his death in 1707, the Empire
                    rapidly declined.</p>
                <br><br>
                <p>At that time, Mir Quamaruddin, the Governor of the Deccan, who bore the title of Nizam-ul-Mulk Feroze
                    Jung Asif Jah, declared his independence from Mughal rule in 1724. He thus became the first Nizam
                    and the founder of the Asif Jahi dynasty. In 1769, Nizam Ali Khan Asif Jah II, shifted the capital
                    from Aurangabad (The capital founded by Mughal rulers) to Hyderabad. The seven Nizam’s of the Asif
                    Jahi dynasty ruled the Deccan for nearly 224 years, right up to 1948. During the Asif Jahi period,
                    Persian, Urdu, Telugu and Marathi developed simultaneously. Persian was the official language up to
                    1893 and then Urdu up to 1948.</p><br><br>
                <p>When the British and the French spread their hold over the country, the Nizam soon won their
                    friendship without bequeathing his power. The title “Faithfull, Ally of the British Government” was
                    bestowed on Nizam VIL. The rule of the seven Nizam’s saw the growth of Hyderabad both culturally and
                    economically. Hyderabad, under the Nizam’s, was the largest princely state in India. Soon after
                    India gained independence, Hyderabad State merged with the Union of India. On November 1, 1956 the
                    map of India was redrawn into linguistic states, and Hyderabad became the capital of Andhra Pradesh
                    and later after the formation of Telangana state, Hyderabad became capital for Telangana.</p><br>
            </div>
            <div class="heading4">
                <h4>GENERAL INFORMATION</h4>
            </div><br>
            <div class="heading5"><strong>Language</strong></div><br>
            <div class="paragraph">
                <p>The official language of Hyderabad is Telugu but there are various other regional languages spoken by
                    the people of the state of Telangana. English is used for official and commercial purposes. Most of
                    the people on the streets understand and converse in English. The other languages popular here in
                    Hyderabad are Urdu and Hindi.
                </p>
            </div><br>
            <div class="heading5"><strong>Time Zone:</strong></div><br>
            <div class="paragraph">
                <p>India has a single time zone. It is 5.5 hours ahead of the GMT, 4.5 hours behind the Australian
                    Eastern Standard time and 11.5 hours ahead of American Eastern Standard Time (winter).</p>
            </div><br>
            <div class="heading5"><strong>Climate</strong></div><br>
            <div class="paragraph">
                <p>Weather in Hyderabad is very pleasant. Temperature in Hyderabad ranges from 11°C to 42°C.</p>
            </div><br>
            <div class="heading5"><strong>Electricity</strong></div><br>
            <div class="paragraph"><p>Usually 220 volts AC, 50Hz some areas have a DC supply. Plugs used are of the round two and three pin type. Adapters and voltage converters come handy if plan to operate electrical and electronic appliances.</p></div>
        </div>
        </div>
    </section>
    {% include 'partials/_footer.html' %}
</body>

</html>