<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'partials/_fonts.html' %}
    <title>Achievements</title>
    <style>
        #main-body .inner {
            padding: 100px 350px 100px 400px;
        }

        .inner .heading {
            font-size: 18px;
            font-weight: bold;
        }

        .paragraph {
            font-size: 16px;
            font-weight: 500;
            line-height: 25px;
            text-align: justify;
        }
    </style>
</head>

<body>
    {% include 'partials/_header.html' %}
    <section id="main-body">
        <div class="inner">
            <p class="heading">Achievements</p><br><br>
            <p class="paragraph">Hyderabad Tourism Feels proud of its 5 Star Customer Service Rating. Something that
                does not make us complacent, but look ahead with optimism to strive for and make sure to do our best to
                make sure your stay with us is memorable. That’s what our honoured guests have said and say Greater
                travel excellence comes with specialist travel companies sharing facilities and resources. Your trusted
                travel partner now and always……, that’s our finest achievement<br><br>
                State Tourism Award winner for 2011 (in the Combined Andhra Pradesh State)</p>
        </div>
    </section>
    {% include 'partials/_footer.html' %}

</body>

</html>