<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charminar</title>
    {% include 'partials/_fonts.html' %}
    <style>
        .image-banner img {
            position: relative;
            width: 100%;
            height: 70vh;
        }
    </style>
</head>

<body>
    {% include 'partials/_header.html' %}
    <section id="hyderabad-page">
        <div id="top-section">
            <div class="image-banner">
                <img src="https://lh3.googleusercontent.com/TwJ5O9Aw-EyxPiIFzSMowSo9sgXsL5nJK2fCpVVcgTHcQBKmxD-a5FRkglnCkZ7GXkN7kVwM7qZwxjslQNOEulv5akcZMf0=s1600"
                    alt="charimar">
            </div>
        </div>
        <div id="bottom-section"></div>
    </section>
    {% include 'partials/_footer.html' %}
</body>

</html>