<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discovering Divinity</title>
    {% include 'partials/_fonts.html' %}
    <style>
        #banner-image img {
            width: 100vw;
            height: 70vh;
        }

        #banner-text {
            margin: -400px 30px;
            color: white;
            font-weight: bold;
            font-size: 25px;
            text-align: center;
        }

        #lower {
            margin-top: 800px;
            text-align: center;
            color: black;
            font-weight: 550;
        }

        .paragraph{
            margin: 50px;
        }
    </style>
</head>

<body>
    {% include 'partials/_header.html' %}
    <section id="main-body">
        <div id="upper">
            <div id="banner-image">
                <img src="https://lh3.googleusercontent.com/nVxzd3MWT3eaGx2u4mfuQn6xqJcihUacT1C2SMkJT95O-gY__DBafRCoYz6-VXxdhEKeD4lgCYRhODaiSHICZNLnGUVDQA=s1600"
                    alt="mallikarjun">
            </div>
            <div id="banner-text">
                <h1>SRISAILAM MALLIKARJUN <br> JYOTHIRLING TEMPLE</h1>
            </div>
        </div>
        <div id="lower">
            <div class="heading">
                <h2>SRISAILAM MALLIKARJUN TEMPLE</h2>
            </div>
            <div class="paragraphs">
                <div class="paragraph">
                    <p>Srisailam Mallikarjuna Jyotirlinga is one of the twelve sacred shrines in India that house a
                        Jyotirlinga,<br> representing Lord Shiva. Located in Srisailam town of Andhra Pradesh, this
                        revered<br>
                        temple is a significant pilgrimage site for Hindus.</p>
                </div>
                <div class="paragraph">
                    <p>The temple complex is dedicated to Lord Mallikarjuna (Shiva) and Goddess Bhramaramba
                        (Parvati).<br>
                        According to Hindu mythology, the temple's origin dates back to ancient times, and it holds<br>
                        immense religious and historical importance. The Jyotirlinga is said to be a manifestation
                        of<br>
                        Lord Shiva's infinite light and power. Devotees believe that a pilgrimage to the Srisailam<br>
                        Mallikarjuna Jyotirlinga grants blessings, spiritual growth, and absolution of sins.</p>
                </div>

                <div class="paragraph">
                    <p>Surrounded by the picturesque Nallamala Hills and situated on the banks of the River Krishna,<br>
                        the
                        temple's location adds to its serene and spiritual ambiance. The temple architecture showcases
                        a<br>
                        blend of Dravidian and Chalukyan styles, making it an architectural marvel.</p>
                </div>

                <div class="paragraph">
                    <p>The annual festival of Maha Shivaratri witnesses a grand celebration at Srisailam, attracting<br>
                        thousands of devotees from all over India. The temple's daily rituals, including special poojas<br>
                        and aarti, are performed with great devotion and reverence.</p>
                </div>

                <div class="paragraph">
                    <p>
                        For devotees seeking spiritual solace and a profound connection with Lord Shiva, a visit to the<br>
                        Srisailam Mallikarjuna Jyotirlinga is a deeply fulfilling experience. It serves as a spiritual<br>
                        retreat, where one can immerse themselves in prayers, rituals, and the divine aura of Lord
                        Shiva's presence.
                    </p>
                </div>

            </div>
        </div>
    </section>
    {% include 'partials/_footer.html' %}
</body>

</html>