<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    {% include 'partials/_fonts.html' %}
    <style>
        #main-body .inner{
            padding: 100px 350px 100px 400px;

        }

        .heading h3 {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 40px;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 23px;
            text-align: justify;
        }
    </style>
</head>

<body>
    {% include 'partials/_header.html' %}
    <section id="main-body">
        <div class="inner">
            <div class="heading">
                <h3>Privacy Policy</h3>
            </div>
            <div class="policies">
                <p>1. Visitor Material and Conduct</p><br>
                <p>1.1 Other than personally identifiable information, which is covered under the Hyderabad Tourism
                    Privacy Policy, any material you transmit or post to this Website will be considered
                    non-confidential and non-proprietary. Hyderabad Tourism will have no obligations with respect to
                    such material. Hyderabad Tourism and anyone we designate will be free to copy, disclose, distribute,
                    incorporate and otherwise use that material and all data, images, sounds, text and other things
                    embodied in it for any and all commercial or non-commercial purposes.</p><br>
                <p>1.2 You are prohibited from posting, uploading or transmitting to or from this Website any material
                    that:</p><br>
                <p>1.2.1 breaches any applicable local, national or international law</p><br>
                <p>1.2.2 is unlawful or fraudulent;</p><br>
                <p>1.2.3 amounts to unauthorized advertising; or</p><br>
                <p>1.2.4 contains viruses or any other harmful programs.</p><br>
                <p>1.3 You may not misuse the Website (including by hacking).</p><br>
                <p>1.4 Any comments or feedback that you submit through the Website must not:</p><br>
                <p>1.4.1 contain any defamatory, obscene or offensive material;</p><br>
                <p>1.4.2 promote violence or discrimination;</p><br>
                <p>1.4.3 infringe the intellectual property rights of another person;</p><br>
                <p>1.4.4 breach any legal duty owed to a third party (such as a duty of confidence);</p><br>
                <p>1.4.5 promote illegal activity or invade another's privacy;</p><br>
                <p>1.4.6 give the impression that they originate from us; or</p><br>
                <p>1.4.7 be used to impersonate another person or to misrepresent your affiliation with another person.
                    1.5 The prohibited acts listed in paragraphs 1.2 to 1.4 above are non-exhaustive. You will pay
                    Hyderabad Tourism for all costs and damages which it incurs as a result of you breaching any of
                    these restrictions.</p><br>
                <p>1.6 Hyderabad Tourism will fully co-operate with any law enforcement authorities or court order
                    requesting or directing us to disclose the identity or location of anyone posting any material in
                    breach of paragraph 1.2 to 1.4.</p><br>
            </div>
        </div>
    </section>

    {% include 'partials/_footer.html' %}
</body>

</html>