<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    {% include 'partials/_fonts.html' %}
    <style>
        #main-body .inner {
            padding: 100px 350px 100px 400px;
        }

        .inner h3 {
            font-size: 20px;
            font-weight: bold;
        }

        #main-body .inner .paragraph p {
            font-weight: 450;
            font-size: 16px;
            line-height: 23px;
            text-align: justify;
        }
    </style>
</head>

<body>
    {% include 'partials/_header.html' %}
    <section id="main-body">
        <div class="inner">
            <div class="heading3">
                <h3>ABOUT US</h3>
            </div><br><br>
            <div class="paragraph">
                <p>Planning a vacation is akin to planning your future", a mixture of heightened excitement and sound
                    reasoning for after all you are investing in a journey that should allow soaking in the sights and
                    sounds, the culture, the cuisine and even more, the hospitality of the people, capturing memorable
                    moments and carting them into the well of your memories.</p><br>
                <p>Being professional tourists ourselves, we know this and offer you our itineraries, tours and tie-ups,
                    meticulously worked out to make your holiday expedition an experience in itself. Hyderabad Tourism
                    has been offering unmatched services to its clients with excellent backup from our committed
                    associates in various parts of INDIA and abroad. Service is complete with online support and
                    information through our official site www.hyderabadtourism.in – a virtual encyclopedia from hotel
                    bookings, customized itineraries to tour guides, transfers to hotels and airports and What's more,
                    we work from 10 am to 9 pm IST. It's a classic mixture of superior services and economic pricing;
                    www.hyderabadtourism.in invites you to explore the intriguing customs, colourful attires and the
                    enthralling landscapes of our beautiful Hyderabad city and Telangana.</p><br><br>
            </div>
            <div class="heading3">
                <h3>WHAT WE OFFER</h3>
            </div><br>
            <div class="paragraph">
                <p>Hotel reservations<br>
                    Car and coach rentals<br>
                    Customized Tour Packages<br>
                    GIT FIT MICE Tours<br>
                    Guides speaking different languages.</p>
            </div>
        </div>
    </section>
    {% include 'partials/_footer.html' %}

</body>

</html>