<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sight Seeing</title>
    {% include 'partials/_fonts.html' %}
    <style>
        #body-section {
            padding: 100px 350px 100px 450px;

        }

        #body-section h4 {
            font-size: 18px
        }

        .heading {
            font-size: 16px;
            font-weight: bold;
        }

        .paragraph {
            font-size: 15px;
            font-weight: 500;
            text-align: justify;
        }
    </style>
</head>

<body>
    {% include 'partials/_header.html' %}
    <section id="body-section">
        <div class="heading4">
            <h4>HYDERABAD SITE SEEING</h4>
        </div><br>
        <p class="heading">PLACES TO VISIT</p><br>
        <p class="paragraph">The city of smiles, of lights, of a thousand faces, endearingly called the Pearl City,
            Hyderabad offers a variety of tourist attractions ranging from Heritage monuments, Lakes and Parks, Gardens
            and Resorts, Museums to delectable cuisine and a delightful shopping experience. To the traveller, Hyderabad
            offers a fascinating panorama of the past, with a richly mixed cultural and historical tradition spanning
            400 colourful years. Some of the tourist attractions include.</p><br>
        <p class="heading">CHARMINAR</p>
        <p class="paragraph">Phone: +91 40 2352 2990, Visiting Hours: 9 am – 5 pm</p><br>
        <p class="paragraph">The Charminar is as much the signature of Hyderabad as the Taj Mahal is of Agra or the
            Eiffel Tower is of Paris. Mohammed Quli Qutb Shah, the founder of Hyderabad, built Charminar in 1591 at the
            centre of the original city layout. It is said to be built as a charm to ward off a deadly epidemic raging
            at that time. Four graceful minarets soar to a height of 48.7 m above the ground. Charminar has 45 prayer
            spaces and a mosque in it. Visitors can view the architectural splendour inside the Charminar. The monument
            is illuminated in the evenings and a pedestrianisation project around the monument is under implementation.
        </p><br>
        <p class="paragraph">Mecca Masjid: A two hundred yards southwest of the Charminar is the Mecca Masjid, so named
            because the bricks were brought from Mecca to build the central arch. The Qutb Shahis never finished the
            building of the mosque, which was completed by Aurangzeb in 1694.</p><br>
        <p class="paragraph">Laad Baazar: This is famous, colourful shopping centre of the old city, tucked away in one
            of the streets leading off from Charminar. Bridal wear, Pearls and the traditional Hyderabadi glass and
            stone studded bangles are sold here.</p><br>
        <p class="heading">GOLCONDA FORT</p><br>
        <p class="paragraph">Golconda is one of the famous forts of India. The name originates from the Telugu words
            "Golla Konda" meaning "Shepherd's Hill". The origins of the fort can be traced back to the Yadava dynasty of
            Deogiri and the Kakatiyas of Warangal. Golconda was originally a mud fort, which passed to the Bahmani
            dynasty and later to the Qutb Shahis, who held it from 1518 to 1687 A.D. The first three Qutb Shahi kings
            rebuilt Golconda, over a span of 62 years. <br><br>The fort is famous for its acoustics, palaces, ingenious
            water
            supply system and the famous Fateh Rahben gun, one of the cannons used in the last siege of Golconda by
            Aurangzeb, to whom the fort ultimately fell. Sound & Light Show at Golconda Fort: The glorious past of
            Golconda Fort is narrated effectively with matchless Sound and Light effects. The unique Sound & Light Show
            takes you right back in time, when Golconda was full of life, glory and grandeur. The tombs are built in
            Persian, Pathan and Hindu architectural styles using grey granite, with stucco ornamentation, the only one
            of its kind in the world where an entire dynasty has been buried at one place.</p><br>
        <p class="heading">TARAMATI BARADARI</p>
        <p class="paragraph">Visiting Hours: 8 am - 9.30 pm</p><br>
        <p class="paragraph">Taramati Baradari is located at Ibrahimbagh, on the Osman Sagar (Gandipet) Road, close to
            Golconda. The complex is spread over a sprawling 7-acre area amidst lush green environs with the backdrop of
            the famed Golconda Fort. The heritage monument built by the Seventh Sultan of Golconda is accessed from the
            complex. With two fully equipped theatres, Taramati Baradari Culture Village is the perfect venue for music
            concerts, performing arts, social events etc. The Baradari illuminated in dynamic lighting forms the
            backdrop of all activities.</p><br>
        <p class="heading">BIRLA MANDIR</p>
        <p class="paragraph">Phone: +91 40 2323 3259<br><br>
            This white marble temple of Lord Venkateshwara floats on the city skyline, on Kala Pahad. The idol in the
            temple is a replica of the one at Tirumala Tirupati.<br><br>
            Birla Planetarium: Phone: +91 40 2324 1067<br>
            Birla Planetarium is India's most modern planetarium and first of its kind in the country. It is equipped
            with advanced technology from Japan and is built on Naubat Pahad adjacent to Kala Pahad. And the Science
            Museum stands tribute to the advancement achieved by Science and Technology.</p><br>
        <p class="heading">SALARJUNG MUSEUM</p>
        <p class="paragraph">Phone: +91 40 2452 3211, Visiting Hours: 10 am – 5 pm (Friday Closed)<br><br>
            This museum houses one of the biggest one-man collections of antiques of the world by Mir Yousuf Ali Khan,
            Salar Jung III. The objects d'art include Persian carpets, Moghal miniatures, Chinese porcelain, Japanese
            lacquerware, famous statues including the Veiled Rebecca and Marguerite and Mephistopheles, a superb
            collection of jade, daggers belonging to Queen Noor Jahan and the Emperors Jahangir and Shah Jahan,
            Aurangzeb's sword and many other fabulous items.</p><br>
        <p class="heading">NEHRU ZOOLOGICAL PARK</p><br>
        <p class="paragraph">Spanning 300 lush green acres, the Nehru Zoological Park is a must for nature lovers. It
            has over 250 species of animals and birds, most of which are kept in conditions as close to their natural
            habitats as possible. This is the first zoo to create moated enclosures for animals. The Lion Safari Park,
            Natural History Museum and Children's Train are the added attractions. Mir Alam Tank: Mir Alam Tank is a
            large lake adjacent to Nehru Zoological Park. Tourism Department operates boats on the lake, for which one
            has to enter through the Zoo.</p><br>
        <p class="heading">SHILPARAMAM (THE ARTS & CRAFTS VILLAGE)</p>
        <p class="paragraph">Phone: +91 40 2310 0455<br><br>
            Another attraction at Madhapur besides Hi-tec city in Hyderabad is the 30-acre village, which showcases arts
            and crafts of the country. India is an ocean of various arts and crafts but the talent of most of the
            artisans and artists goes unrecognized. To encourage them and give the necessary boost to their art, the
            crafts village hosts annual bazaars, where artists and artisans from all over the country exhibit their
            talent.</p><br>
        <p class="heading">HITECH CITY</p><br>
        <p class="paragraph">One of the modern monuments of trade and technology, it embodies the newfound attitude of
            Hyderabad and today finds a place of pride. Situated on the outskirts of the city, it is the nucleus of
            Cyberabad, the IT destination in this part of the world. Cyber Towers is the main building here.</p><br>
        <p class="heading">HUSSAINSAGAR LAKE</p><br>
        <p class="paragraph">Excavated in 1562 A.D. by Hussain Shah Wali during the time of Ibrahim Quli Qutb Shah, the
            lake has a promenade that is a busy thoroughfare today. Boating and water sports are a regular feature in
            the Hussainsagar. One of the World's tallest monolithic statues of the Buddha stands on the 'Rock of
            Gibraltar', in the middle of the lake. Added to all these, Tourism Department has additional boating
            facilities like speed boats, motor boats, 48 seater launch etc. Starlit dinner on-board and private parties
            also can be arranged on the Launch. Surroundings of Hussainsagar Lake provide marvellous entertainment
            options like NTR Gardens, Necklace Road, Tank Bund, Prasads Multiplex, Lumbini Park, Sanjeevaiah Park etc.,
        </p><br>
        <p class="heading">THE NIZAM'S SILVER JUBILEE MUSEUM</p>
        <p class="paragraph">Phone: +91 40 2355 5072<br><br>
            The stately Purani Haveli, the palace acquired around the year 1750 by the second Nizam, is now converted
            into a museum with a fascinating collection. The museum exhibits the gifts and mementos presented to the
            last Nizam on the occasion of the silver jubilee celebrations in 1937. A 1930 Rolls Royce, Packard and a
            Mark V Jaguar are among the vintage cars displayed. There is an interesting collection of models made in
            silver of all the prominent buildings of the city and citations in Urdu about H.E.H. Mir Osman Ali Khan,
            gold burnished wooden throne used for the silver jubilee celebrations, gold tiffin box inlaid with diamonds,
            and a gold model of Jubilee Pavilion.</p><br>
        <p class="heading">CHOW MOHALLA PALACE</p><br>
        <p class="paragraph">Built in several phases by the Nizams between 1857-1869, this is now one of the heritage buildings. The complex comprises four palaces in Moghal and European styles, of which the main palace is double storeyed with the others being single-storeyed blocks.</p><br>
        <p class="heading">DURGAM CHERUVU</p>
        <p class="paragraph">Phone: +91 40 2311 0523, Visiting Hours: 9 am – 8.30 pm<br><br>
            The 'Secret Lake' is situated close to Shilparamam Crafts Village and Hitec City, behind Jubilee Hills. Tourism department organizes boating in the lake. Hanging bridge is the latest addition to the lake (Durgam Cheruvu).</p><br>
        <p class="heading">CHILKUR BALAJI TEMPLE</p><br>
        <p class="paragraph">The Balaji Temple is located at Chilkur in the suburbs of Hyderabad. It is 33 Kms away from Mehdipatnam. Approximately 75,000 to 1,00,000 devotees visit in a week. Generally temple gets heavy rush on Saturdays and Sundays. Set in sylvan surroundings, the temple attracts thousands of pilgrims every year and is an ideal place for sequestered retreat and meditation.</p>
    </section>
    {% include 'partials/_footer.html' %}
</body>

</html>