<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special Attractions</title>
    {% include 'partials/_fonts.html' %}
    <style>
        .inner {
            padding: 100px 350px 100px 400px;
        }

        #main-body .inner h4 {
            font-size: 18px;
            font-weight: bold;
            color: black;
        }

        .heading{
            font-size: 16px;
            color: black;
            font-weight: bold;
        }

        .paragraph{
            font-size: 16px;
            color: black;
            font-weight: 450;
        }
    </style>
</head>

<body>
    {% include 'partials/_header.html' %}
    <section id="main-body">
        <div class="inner">
            <div class="heading4">
                <h4>HYDERABAD SPECIAL ATTRACTIONS</h4>
            </div><br><br>
            <p class="heading">RAMOJI FILM CITY - TOURIST'S DELIGHT</p><br>
            <p class="paragraph">Ramoji Film City, a tribute to the bewitching magic of cinema, is the dream destination
                for entertainment and relaxation. Millions of tourists from all over the world come to the complex every
                month to revel in its infinite leisure and recreation options. Spread over idyllic 2,500 acres and
                studded with hills, woods, lakes and striking architectural triumphs, Ramoji Film City is one of Asia's
                fastest growing tourism destinations.</p><br>
            <p class="heading">PRASADS I MAX – 'ENTERTAINMENT COMPLETE' IMAX® Theatre:</p><br>
            <p class="paragraph">This facility houses South India's first IMAX theatre called Prasads I MAX Theatre.
                IMAX, a brand that is recognized worldwide for high quality family entertainment, is the most vivid and
                immerse film experience available. Multiplex, Food Court, Shopping</p><br>
            <p class="heading">MOUNT OPERA – 'WORLD OF MAGIC & PLEASURE'</p><br>
            <p class="paragraph">It's a world of heaven that spells entertainment and untamed fun for a day or even a
                week-end and designed to cater to all age-groups. Situated on a hilltop, two hundred feet above the
                humdrum world it takes your breath away with its eye-catching visual view of the world around. Fantastic
                vistas as The Family World and Kids World let you savour a sensational feeling that's rich. Words and
                thrills run out, so much that the world of entertainment never ends. There's one for everyone, even for
                your grand parents</p><br>
            <p class="heading">OCEAN PARK – 'DISCOVER THE MAGIC'</p><br>
            <p class="paragraph">It is a one of its kind Water Theme Amusement Park modeled on International standards.
                An amusement park that you haven't seen the likes of yet in India. Forget about going to Disneyland or
                Sea World. Here is the international style family fun to you right at your doorstep.</p><br>
            <p class="heading">SNOW WORLD – 'THE MAGIC OF SNOW.</p><br>
            <p class="paragraph">Reminiscing about the holidays spent at Swiss Alp's! Memories are prized possession
                aren't they, Unveiled snow destination in snow clad environment that will freeze you with fun and
                splendor. Snow world is situated with the historic heritage sites such as 'Hussain Sagar' tank bund and
                the 'Indira Park'.</p><br>
            <p class="heading">DHOLA RI DHANI – 'AN ETHNIC RAJASTHANI RESORT'</p><br>
            <p class="paragraph">Spend an evening the Maharajah way! Enjoy the ambience of the ethnic Rajasthani styled
                resort. Apart from the exquisite cuisine we serve, you could also take a cool dip in the pool, laugh
                your heart out with our ventriloquist who will also amaze you with a trick or two, the daily cultural
                programme evoking the golden era completed by the exclusive handicrafts showroom for amazing shopping
                discounts, puppet shows and lots of amazing games.</p><br>
        </div>
    </section>
    {% include 'partials/_footer.html' %}

</body>

</html>