<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    {% include 'partials/_fonts.html' %}
    <style>
        .inner {
            padding: 100px 350px 100px 400px;
        }

        .heading1 h1 {
            font-size: 20px;
            font-weight: bold;
        }

        .information p {
            font-weight: 500;
            font-size: 16px;
            line-height: 27px;
            text-align: justify;
        }
    </style>
</head>

<body>
    {% include 'partials/_header.html' %}
    <section id="main-body">
        <div class="inner">
            <div class="heading1">
                <h1>TERMS AND CONDITIONS</h1>
            </div><br><br>
            <div class="information">
                <p class="main-heading">IMPORTANT LEGAL NOTICE</p><br>
                <p class="paragraph">By accessing this web site, you are agreeing to be bound by these web site Terms
                    and Conditions of Use ("Website Terms"), all applicable laws and regulations, and agree that you are
                    responsible for compliance with any applicable local laws. If you do not agree with any of these
                    terms, you are prohibited from using or accessing this site. The materials contained in this web
                    site are protected by applicable copyright and trade mark law.</p><br><br>
                <p class="heading">1. INTRODUCTION AND OUR ROLE:</p><br><br>
                <p class="paragraph">1.1 KONASEEMA TOURISM SERVICES ("KONASEEMA TOURISM") is a partnership firm
                    registered and our registered office at #15-31-4M-21/5, M.21-5, IV Phase, KPHB Colony, Hyderabad -
                    500 072, Telangana, India.</p><br>
                <p class="paragraph">1.2 Hyderabad Tourism provides a way for you to communicate your orders to Hotels,
                    Resorts, Taxi Suppliers, displayed on this Website.</p><br>
                <p class="paragraph">1.3 If you have any problems with your order you can contact our customer care team
                    by clicking on the "Contact us" tab and filling in the required fields or by calling our customer
                    care phone number shown on this Website. One of our customer care reps will contact you and try to
                    solve the issue you are facing with your order.</p><br>
                <p class="paragraph">1.4 An important part of our quality control process is that consumers provide
                    ratings and feedback on the website to reflect their experiences with the Hotels / Resorts / Taxi
                    providers. Please note that any complaint must be lodged with our customer care team using the
                    method described above within 48 hours of placing the order.</p><br>
                <p class="paragraph">1.5 You may access some areas of this Website without making an order, and
                    registering your details with us. Most areas of this Website are open to everyone.</p><br>
                <p class="paragraph">1.6 By accessing any part of this Website, you indicate that you accept these
                    Website Terms. If you do not accept these Website Terms, you must leave this Website immediately.
                </p><br>
                <p class="paragraph">1.7 Hyderabad Tourism may revise these terms of use for its web site at any time
                    without notice. By using this web site you are agreeing to be bound by the then current version of
                    these Terms and Conditions of Use.</p><br>
                <p class="paragraph">1.8 You are responsible for making all arrangements necessary for you to have
                    access to the Website. You are also responsible for ensuring that all persons who access the Website
                    through your Internet connection are aware of these Website Terms and that they comply with them.
                </p><br>
                <p class="heading">2. HOW TO MAKE AN ORDER AND HOW IT IS PROCESSED:</p><br>
                <p class="paragraph">2.1 Any contract for the supply of Hotel / Resort / Boating / Cab from this Website
                    is between you and the Supplier.</p><br>
                <p class="paragraph">2.2 Once you have selected your order from the menu of your chosen Hotel / Resort /
                    Boating / Cab Service providers you will be given the opportunity to submit your order by clicking
                    on the "Finish" button. Please note it is important that you check the information that you enter
                    and correct any errors before clicking on the "Finish" button since once you click on this input
                    errors cannot be corrected.</p><br>
                <p class="paragraph">2.3 If at any time prior to you clicking on the "Finish" button, you decide that
                    you do not wish to proceed with your order, you should close the application window.</p><br>
                <p class="paragraph">2.4 Upon clicking on the "Finish" button, in case you have selected Cash on
                    Delivery (COD) payment Hyderabad Tourism will begin processing your order and we will send you
                    notification by SMS that your order is being processed. For online payment orders, on receipt of
                    your payment, Hyderabad Tourism will begin processing your order and we will send you notification
                    by SMS and email that payment has been received and that your order is being processed. SMS and
                    email confirmation will be produced automatically so that you have confirmation of your order
                    details. You must inform us immediately if any details are incorrect. The fact that you receive an
                    automatic confirmation does not necessarily mean that either we or the service provider will be able
                    to fill your order.</p><br>
                <p class="paragraph">2.5 In case of online payment, if any payment you make is not authorized you will
                    be returned to the previous page on the Website and we shall not be obliged to provide the services.
                </p><br>
                <p class="paragraph">2.6 Please note that once you have made your order and your payment has been
                    authorized you will be able to cancel your order according to details in paragraph 5.</p><br>
                <p class="paragraph">2.7 Please note that from time to time there may be delays with processing payments
                    and transactions, on occasion this can take up to sixty (60) days to be deducted from your bank
                    account.</p><br><br>
                <p class="heading">3. PRICE AND PAYMENT:</p><br>
                <p class="paragraph">3.1 Prices will be as quoted on this Website. These prices are inclusive of
                    relevant tax & delivery charges. In case service providers require a service charge, this will be
                    clearly indicated on this Website, in the itemized bill, and added to the total amount due.</p><br>
                <p class="paragraph">3.2 This Website contains a large number of menus items. Although we take great
                    care to keep them up to date, it is always possible that some of the menus may be incorrectly
                    priced. If the correct price for an order is higher than the price stated on the Website Hyderabad
                    Tourism will normally contact you before the order in question is dispatched. Hyderabad Tourism is
                    under no obligation to ensure that the order is provided to you at the incorrect lower price or to
                    compensate you in respect of incorrect pricing.</p><br>
                <p class="paragraph">3.3 Payment for all orders must be by credit or debit card as stated on this
                    Website or in cash at the point of delivery to you.</p><br>
                <p class="paragraph">3.4 If you choose online payment, you must pay for your order before it is
                    delivered. To ensure that shopping online is secure, your debit/credit card details will be
                    encrypted to prevent the possibility of someone being able to read them as they are sent over the
                    internet. Your credit card company may also conduct security checks to confirm it is you placing the
                    order.</p><br>
                <p class="paragraph">3.5 A discount may apply to your order if you use a promotional code recognized by
                    this Website and endorsed by Hyderabad Tourism.</p><br>
                <p class="paragraph">3.6 Please note that from time to time there may be delays with processing payments
                    and transactions, on occasion this can take up to sixty (60) days to be deducted from your bank
                    account or credit card.</p><br>
                <br>
                <p class="heading">4. USE LICENCE:</p><br>
                <p class="paragraph">4.1 Permission is granted to temporarily download one copy of the materials
                    (information or software) on Hyderabad Tourism's website for personal, non-commercial transitory
                    viewing only.</p><br>
                <p class="paragraph">This license shall automatically terminate if you violate any of these restrictions
                    and may be terminated by Hyderabad Tourism at any time. Upon terminating your viewing of these
                    materials or upon the termination of this license, you must destroy any downloaded materials in your
                    possession whether in electronic or printed format.</p><br>
                <p class="paragraph">4.3 Any rights not expressly granted in these Website Terms are reserved.</p><br>
                <br>
                <p class="heading">5. SERVICE ACCESS:</p><br>
                <p class="paragraph">5.1 While Hyderabad Tourism tries to ensure this Website is normally available
                    twenty four (24) hours a day, Hyderabad Tourism will not be liable if this Website is unavailable at
                    any time or for any period.</p><br>
                <p class="paragraph">5.2 Access to this Website may be suspended temporarily and without notice.</p><br>
                <p class="paragraph">5.3 Unfortunately, the transmission of information via the internet is not
                    completely secure. Although we will take steps to protect your information, we cannot guarantee the
                    security of your data transmitted to the Website; any transmission is at your own risk.</p><br>
            </div>
        </div>
    </section>
    {% include 'partials/_footer.html' %}
</body>

</html>